<h1>Create a Trip</h1>

<div class="container new-trip">
  <form class="form-horizontal" action="/trips" method="post">
    <div class="form-group" id="form-group">
      <label for="start_date" class="col-sm-2 control-label">Start Date:</label>
      <div class="col-sm-10">
        <input id="start_date" type="date" name="trip[start_date]" class="form-control start_date" placeholder="Enter start date">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="start_station">Start Station:</label>
      <div class="col-sm-10">
        <select name="trip[start_station]" id="start_station">
          <% @stations.each do |station| %>
            <option value=<%= station.id %>>
              <%= station.name %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="end_date">End Date:</label>
      <div class="col-sm-10">
        <input type="date" name="trip[end_date]" id="end_date">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="end_station">End Station:</label>
      <div class="col-sm-10">
        <select name="trip[end_station]" class="end_station" id="end_station">
        <% @stations.each do |station| %>
          <option value=<%= station.id %>>
            <%= station.name %>
          </option>
        <% end %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="subscription">Subscription:</label>
      <div class="col-sm-10">
        <select name="trip[subscription]" id="subscription">
        <% @subscriptions.each do |subscription| %>
          <option value=<%= subscription.sub_type %>>
            <%= subscription.sub_type %>
          </option>
        <% end %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="bike">Bike:</label>
      <div class="col-sm-10">
        <input class="form-control" type="textfield" name="trip[bike]" id="bike" placeholder="please enter bike">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="zipcode">Zipcode:</label>
      <div class="col-sm-10">
       <input class="form-control" type="textfield" name="trip[zipcode]" id="zipcode" placeholder="please enter zipcode">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input class="btn btn-primary" type="submit" value="Create New Trip" />
      </div>
    </div>
  </form>
  </br>
</div>
